<div mat-dialog-title>
    <h1>{{data ? 'Edit': 'Add'}} Customer Form</h1>
</div>
<form [formGroup]="cusForm" (ngSubmit)="onSubmit()">
  <div mat-dialog-content class="content">
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>First Name:</mat-label>
        <input matInput type="text" placeholder="i.e David" formControlName="FirstName">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Last Name:</mat-label>
        <input matInput placeholder="i.e Smith" formControlName="LastName">
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Email:</mat-label>
        <input matInput type="email" placeholder="i.e david@gmail.com" formControlName="Email">
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Created Date:</mat-label>
        <input title="createddate" matInput [matDatepicker]="picker" formControlName="CreatedDate">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="row">
       <mat-form-field appearance="outline">
        <mat-label>Last Updated:</mat-label>
        <input title="lastupdated" matInput [matDatepicker]="picker2" formControlName="LastUpdated"/>
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
    </div>
  </div>   
  <div class="row">
    <div mat-dialog-actions class="action-btns">
        <button style="margin: 10px;" mat-raised-button color="accent" type="submit">{{data ? 'Update': 'Save'}}</button>
        <button mat-raised-button type="button" color="warn" [mat-dialog-close]="false">Cancel</button>
    </div>
  </div>
</form>
